<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Library Resources - Reed E-LIbrary</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
		<link rel="manifest" href="/assets/img/favicons/manifest.json">
		<meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
		<meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="/static/3543911e5bd2e640705d.css" />
        <link rel="stylesheet" href="/static/c443127c650ea4986be4.css" />
        <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet"> -->
		<noscript>
			<div class="no-script">
				<p>
					You appear to be using an outdated browser, or javascript is
					disabled in your browser. Please upgrade to a modern browser or
					enable javascript and refresh page.
				</p>
			</div>
		</noscript>
		<style>
			.form-input {
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<section>
			<div class="content">
				<%- include('./partials/nav.ejs'); %>
				<%- include('./partials/sidebar.ejs'); %>
				<section id="main-con">
                    <div class="main-con__wrap flex flex-col p-lr-10">
                        <div class="main-con__head"></div>
                        <div class="main-con__content">
                            <div class="box-hol w-100">
								<div class="box b-rad-5 b-s-low">
									<div class="flex align-c justify-b flex-wrap p-lr-20 p-tb-10">
										<h1 class="text-cap text-c f-20">Resources</h1>
										<div class="flex align-c flex-wrap">
											<form id="searchResource" action="/l/resource/search" method="GET" class="m-r-10 m-t-5">
												<div class="input-wrap" style="margin: 0;">
													<div class="form-input__wrap">
														<label class="form-input__label">
															<input type="search" class="form-input" name="q" title="Search by ISBN, Title, or Author" placeholder="Search by ISBN, Title, or Author" style="height: unset; padding: 10px 15px; border-radius: 35px; font-size: 14px;" autocomplete="off">
														</label>
													</div>
												</div>
											</form>
											<button title="Refresh" id="refreshResource" class="btn secondary m-t-5 m-r-10 icon stroke-light">
												<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
													<path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
													<path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
												</svg>
											</button>
											<button title="Add Resource" id="addResource" class="btn primary m-t-5 icon stroke-light">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
													<line x1="12" y1="5" x2="12" y2="19" />
													<line x1="5" y1="12" x2="19" y2="12" />
												</svg>
											</button>
										</div>
									</div>
									<div class="p-lr-20 p-tb-10">
										<div class="table-wrap table-striped table-responsive custom-scroll">
											<table class="table" id="resourceList" data-last="0" data-number="0" data-limit="100">
												<thead>
													<tr>
														<th>S/N</th>
														<th>ISBN</th>
														<th>Title</th>
														<th>Author</th>
														<th>Publisher</th>
														<th>Category</th>
														<th>Description</th>
														<th>Cost (NGN)</th>
														<th>Date</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </section>
				<div id="addResourceModal" class="modal dark">
					<div class="modal-content b-rad-5 b-s-high">
						<form id="addResourceForm" action="/l/resource/new" method="POST" enctype="multipart/form-data">
							<div class="modal-head flex justify-b">
								<h1 class="flex flex-col justify-c f-14">New Resource</h1>
								<div class="flex align-c">
									<div class="btn-wrap" style="margin: 0 10px 0 0;">
										<button type="submit" class="btn primary flex align-c head__foot__btn" disabled>
											<span class="p-lr-5">Save</span>
										</button>
									</div>
									<button type="button" id="closeAddResource" class="icon stroke" title="Close" style="width: 25px; height: 25px; background-color: transparent; border: none">
										<svg xmlns="http://www.w3.org/2000/svg" style="stroke-width: 2.0;" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
											<line x1="18" y1="6" x2="6" y2="18" />
											<line x1="6" y1="6" x2="18" y2="18" />
										</svg>
									</button>
								</div>
							</div>
							<div class="modal-body custom-scroll">
								<div class="modal-body__content flex justify-c">
									<div class="form-body">
										<div class="input-wrap">
											<div class="form-input__wrap">
												<label class="form-input__label">
													<span class="f-12 f-w-6">Pdf file</span>
													<input type="file" accept="*" class="form-input" name="pdf_file" required/>
												</label>
											</div>
										</div>
										<div class="input-group-wrap">
											<div class="input-wrap">
												<div class="form-input__wrap">
													<label class="form-input__label">
														<span class="f-12 f-w-6">ISBN</span>
														<input type="text" class="form-input" name="ISBN" placeholder="Enter ISBN" required/>
													</label>
												</div>
											</div>
											<div class="input-wrap">
												<div class="form-input__wrap">
													<label class="form-input__label">
														<span class="f-12 f-w-6">Author</span>
														<input type="text" class="form-input" name="author" placeholder="Enter author" required/>
													</label>
												</div>
											</div>
										</div>
										<div class="input-wrap">
											<div class="form-input__wrap">
												<label class="form-input__label">
													<span class="f-12 f-w-6">Title</span>
													<input type="text" class="form-input" name="title" placeholder="Enter title" required/>
												</label>
											</div>
										</div>
										<div class="input-wrap">
											<div class="form-input__wrap">
												<label class="form-input__label">
													<span class="f-12 f-w-6">Publisher</span>
													<input type="text" class="form-input" name="publisher" placeholder="Enter publisher" required/>
												</label>
											</div>
										</div>
										<div class="input-wrap">
											<div class="form-input__wrap">
												<label class="form-input__label">
													<span class="f-12 f-w-6">Category</span>
													<input type="text" class="form-input" name="category" placeholder="Enter category (optional)"/>
												</label>
											</div>
										</div>
										<div class="input-wrap">
											<div class="form-input__wrap">
												<label class="form-input__label">
													<span class="f-12 f-w-6">Description</span>
													<textarea name="desc" id="desc" class="form-input" cols="30" rows="10" placeholder="Enter description (optional)"></textarea>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-foot flex justify-e align-c">
								<div class="btn-wrap" style="margin: 0;">
									<button type="submit" class="btn primary flex align-c" disabled>
										<span class="p-lr-5">Save</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script src="/static/6cbab6cc4b42141ee82d.js"></script>
		<script src="/static/e1528d4eeb3549e0edfa.js"></script>
	</body>
</html>